.body1{
    background:linear-gradient(to right , rgba(148, 255, 248, 0.73),rgb(252, 252, 252));
    }
    img{
        height:500PX;
        width:500px;
        padding-left: 8%;
        float: left;
        padding-right: 5%;
        
    }

    label{
        font-size:2.5ch;
        font-style: italic;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    input[type="text"],input[type="email"],input[type="Password"]{
        border-color: black;
        border-bottom: solid 2px black;
        height:3ch
    }

   
    input[type="submit"]{
    height: 5ch;
    width: 30ch;
    background-color: rgba(0, 46, 249, 0.73);
    color:rgb(255, 255, 255);
    font-size: 3ch;
    border-color: black ;
    margin-left: 45%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    }
    
    